<footer class="bg-dark" style="position: fixed; bottom:0px; width:100%"> 
    <div class="container" style="padding: 20px;">
        <div class="row">
            <div class="col-md-12 text-white">
               copyright david mantilla 2021 
            </div>
        </div></div>
</footer>
