<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur quasi cumque error provident quibusdam, asperiores voluptate, iusto saepe aperiam incidunt, mollitia perferendis dolores atque voluptatum cum minus distinctio minima nisi nihil quam dolore? Autem illum vitae fugiat qui laboriosam aliquam!</p>
    </div>
</div>