
<div class="jumbotron mt-4">
    <h1 class="display-4 text-center">
        app de notas 
    </h1>
    <h3 class="text-center">NodeJs & MongoDB</h3>
    <br>
    <p class="lead"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias iusto qui quia voluptas voluptatum possimus placeat esse at ullam aliquid dolorum minima, laboriosam nobis nemo rerum accusamus natus eaque cupiditate?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. At a ut repellat? Nostrum voluptas beatae voluptatem inventore quibusdam excepturi consequuntur corporis repellendus neque perspiciatis quis nihil quia, sed temporibus ea?</p>
    <a href="" class="btn btn-primary btn-lg">ver mas..</a>
</div>