
<div class="col-md-4 mx-auto">

    <div class="card">
        <div class="card-header">
            nueva nota
        </div>
        <div class="card-body">
            <form action="/notes/edit/{{notes._id}}?_method=PUT" method="POST">
             <input type="hidden" name="_method" value="PUT">
                <div class="form-group">
                    <input
                        type="text"
                        class="form-control"
                        placeholder="title"
                        name="titulo"
                        autofocus
                        value=" {{ notes.title }}"
                    />
                    <br />
                </div>
                <div class="form-group">
                    <textarea
                        name="desc"
                        id=""
                        class="form-control"
                        placeholder="descripcion"
                        
                        autofocus
                    >{{ notes.description }}</textarea>
                </div>
                <button class="btn btn-primary btn-block">Guardar</button>
            </form>

        </div>
    </div>
</div>